/* =========================
   HEADER
========================= */
.section.header {
    position: fixed;
    top: 0;
    z-index: 9999;
    backdrop-filter: blur(5px);
}

.section.header .container {
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
}

.section.header .container .logo {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    font: var(--font-h3);
}

/* =============
   NAVIGATION
============ */

.navigation {
    height: 100%;
}

.navigation-links {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    list-style: none;
}

.navigation-links li, .navigation-links li a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-links li a {
    font: var(--font-body);
    text-decoration: none;
    color: var(--clr-text-muted);
    transition: color var(--transition);
}

.navigation-links li a:hover {
    color: var(--clr-text-main);
}