/* =========================
   HEADER
========================= */
.section.header {
    position: fixed;
    top: 0;
    z-index: 9999;
    backdrop-filter: blur(5px);
}

.section.header .container {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.section.header .container .logo {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    font: var(--font-h3);
}

/* =============
   NAVIGATION
============ */

.navigation {
    height: 100%;
}

.navigation-links {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    list-style: none;
}

.navigation-links li, .navigation-links li a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-links li a {
    font: var(--font-body);
    text-decoration: none;
    color: var(--clr-text-muted);
    transition: color var(--transition);
}

.navigation-links li a:hover {
    color: var(--clr-text-main);
}

/* =========================
   HERO
========================= */
.section.hero .container {
    position: relative;
    padding: var(--space-hero-padding);
    z-index: 999;
}

section.hero h1 {
    margin-bottom: 1.25rem;
}

.section.hero h1 span.highlight {
    font: var(--font-h1);
    background: linear-gradient(90deg, hsl(305, 100%, 50%), hsl(275, 100%, 50%), hsl(230, 100%, 60%), hsl(185, 100%, 50%), hsl(305, 100%, 50%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 200% 100%;
    font-weight: 900;
    animation: gradient-movement 1.5s linear infinite;
}

@keyframes gradient-movement {
   0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.section.hero .subheading {
    margin-bottom: 2rem;
}

.section.hero .shapes {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(-25%);
    z-index: -1;
    opacity: 0.5;
    filter: blur(30px);
}

.section.hero .shapes .shape {
    position: absolute;
    aspect-ratio: 1 / 1;
    border-radius: 1000px;
}

.section.hero .shapes .shape-primary {
    top: 100px;
    right: 0;
    background-color: var(--clr-primary);
    background: linear-gradient(90deg, hsl(230, 100%, 55%), hsl(305, 100%, 50%));
    width: 480px;   
    height: 480px;
    animation: float 6.5s ease-in-out 0s infinite normal forwards;
}

.section.hero .shapes .shape-secondary {
    bottom: 10%;
    right: 30%;
    background-color: var(--clr-secondary);
    background: linear-gradient(90deg, hsl(185, 100%, 50%), hsl(298, 100%, 50%));
    width: 300px;
    height: 300px;
    animation: float 6.5s ease-in-out 0.5s infinite normal forwards;
}

@keyframes float {
    0%, 100% {
        transform: translate(0%, 0%) scale(1);
    }
    50% {
        transform: translate(-56px, -56px) scale(1.1);
    }
}

/* =========================
   ABOUT
========================= */
.section.about {
    background-color: var(--clr-bg-light);
}

.section.about .container{
    display: flex;
    justify-content: stretch;
    gap: 3rem;
}

.section.about .left, .section.about .right {
    flex: 1;
    min-width: 0;
}

.section.about .left .heading {
    margin-bottom: 1.5rem;
}

.section.about .left .paragraph {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2.5rem;
}

.section.about .right img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}

/* =========================
   PROCESS
========================= */
.section.process {
    background-color: var(--clr-bg-lighter);
}

.section.process .heading {
    text-align: center;
    margin-bottom: 3.5rem;
}

.section.process .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.section.process .cards .card {
    flex: 1 1 calc(50% - 1rem);
    padding: 2.5rem;
    border-radius: 8px;
    background-color: var(--clr-bg-lightest);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    transition: var(--transition);
}

.section.process .cards .card:hover {
    transform: translateY(-4px);
    box-shadow: var(--glow-hover-card);
}

.section.process .cards .card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 100px;
    background-color: var(--clr-primary);
    box-shadow: var(--glow);
}

.section.process .cards .card h3 {
    margin-bottom: 0.5rem;
}

/* =========================
   PROJECTS
========================= */
.section.projects {
    background-color: var(--clr-bg-lighter);
}

.section.projects .heading {
    text-align: center;
    margin-bottom: 3.5rem;
}

.section.projects .cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

.section.projects .cards .card {
    background-color: var(--clr-bg-lightest);
    border-radius: 16px;
}

.section.projects .cards .card .info {
    padding: 1.5rem;
}

.section.projects .cards .card .image img {
    max-width: 100%;
    height: auto;
    border-radius: 16px 16px 0 0;
}

.section.projects .cards .card .text {
    margin-bottom: 2rem;
}

.section.projects .cards .card h3 {
    margin-bottom: 1rem;
}

.section.projects .cards .card .view-button {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    font: var(--font-subheading);
    letter-spacing: var(--ls-subheading);
    color: var(--clr-text-muted);
    text-decoration: none;
    transition: color var(--transition), gap var(--transition);
}

.section.projects .cards .card .view-button:hover {
    gap: 1rem;
}

.section.projects .cards .card .view-button:hover {
    color: var(--clr-text-main);
}

.section.projects .cards .card .view-button:hover svg path{
    fill: var(--clr-text-main);
}