/* =========================
   HEADER
========================= */
.section.header {
    position: fixed;
    top: 0;
    z-index: 9999;
    backdrop-filter: blur(5px);
}

.section.header .container {
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
}

.section.header .container .logo {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    font: var(--font-h3);
}

/* =============
   NAVIGATION
============ */

.navigation {
    height: 100%;
}

.navigation-links {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    list-style: none;
}

.navigation-links li, .navigation-links li a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-links li a {
    font: var(--font-body);
    text-decoration: none;
    color: var(--clr-text-muted);
    transition: color var(--transition);
}

.navigation-links li a:hover {
    color: var(--clr-text-main);
}

/* =========================
   HERO
========================= */
.section.hero {
    background: var(--clr-bg-light);
    padding: var(--space-hero-padding);
    position: relative;
}

.section.hero h1 {
    text-align: center;
    margin-bottom: 1.25rem;
}

.section.hero .subheading {
    text-align: center;
    margin-bottom: 2.5rem;
}

.section.hero .container {
    z-index: 999;
}

.section.hero .buttons-wrapper {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.section.hero .glow {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -60%;
    width: 31.25rem;
    height: 31.25rem;
    border-radius: 1000px;
    background-color: var(--clr-primary);
    opacity: 0.4;
    filter: blur(150px);
}