/* =========================
   HEADER
========================= */
.section.header {
    position: fixed;
    top: 0;
    z-index: 9999;
    backdrop-filter: blur(5px);
}

.section.header .container {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.section.header .container .logo {
    height: 100%;
    width: fit-content;
    display: flex;
    align-items: center;
    font: var(--font-h3);
}

/* =============
   NAVIGATION
============ */

.navigation {
    height: 100%;
}

.navigation-links {
    height: 100%;
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    list-style: none;
}

.navigation-links li, .navigation-links li a{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-links li a {
    font: var(--font-body);
    text-decoration: none;
    color: var(--clr-text-muted);
    transition: color var(--transition);
}

.navigation-links li a:hover {
    color: var(--clr-text-main);
}

/* =========================
   HERO
========================= */
.section.hero {
    background: var(--clr-bg-light);
    padding: var(--space-hero-padding);
    position: relative;
}

.section.hero h1 {
    text-align: center;
    margin-bottom: 1.25rem;
}

.section.hero .subheading {
    text-align: center;
    margin-bottom: 2.5rem;
}

.section.hero .container {
    z-index: 999;
}

.section.hero .buttons-wrapper {
    justify-content: center;
}

.section.hero .glow {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -60%;
    width: 31.25rem;
    height: 31.25rem;
    border-radius: 1000px;
    background-color: var(--clr-primary);
    opacity: 0.4;
    filter: blur(150px);
}

/* =========================
   ABOUT
========================= */
.section.about .container{
    display: flex;
    justify-content: stretch;
    gap: 3rem;
}

.section.about .left, .section.about .right {
    flex: 1;
    min-width: 0;
}

.section.about .left .heading {
    margin-bottom: 1.5rem;
}

.section.about .left .paragraph {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2.5rem;
}

.section.about .right img {
    max-width: 100%;
    height: auto;
    border-radius: 16px;
}

/* =========================
   PROCESS
========================= */
.section.process {
    background-color: var(--clr-bg-lighter);
}

.section.process .heading {
    text-align: center;
    margin-bottom: 3.5rem;
}

.section.process .cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.section.process .cards .card {
    flex: 1 1 calc(50% - 1rem);
    padding: 2.5rem;
    border-radius: 8px;
    background-color: var(--clr-bg-lightest);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1.5rem;
    transition: var(--transition);
}

.section.process .cards .card:hover {
    transform: translateY(-8px);
    box-shadow: var(--glow-hover);
}

.section.process .cards .card .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border-radius: 100px;
    background-color: var(--clr-primary);
    box-shadow: var(--glow);
}

.section.process .cards .card h3 {
    margin-bottom: 0.5rem;
}