@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    height: 100%;
    background-color: black;
    font-family: raleway, sans-serif, Arial;
}

section{
    width: 100%;
    background-color: #121212;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 60px 40px;
    color: #ccc;
    scroll-margin-top: 60px; 
}

section h2{
    text-align: left;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #f0f0f0;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: #f0f0f0;
}

.hero p , .about p, .contact p{
    font-size: 1.25rem;
    line-height: 1.6;
    color: #bbb;
    text-align: left;
}

